/*reset*/
*{
    box-sizing: border-box;
}
header{
    
    margin-top: 1px;
    height: calc(80vh - 10px);
    background: no-repeat center/45% url('logohd.png');
    border: 2px solid transparent;
    padding: 10px;
    color: rgb(238, 160, 15);
    
    
}
.menu{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #130f0f;
    font-size: 14px;
    margin-left: 45px;
    text-transform: uppercase;
    font-weight: 700;
    border:none;
    cursor:pointer;
    padding: 10px;
}
.menu {
    background-color: rgb(255, 187, 0);
    color: white;
    box-shadow: 0 5px black;
    display:inline-block;

}
.menu:hover {
    background-color: rgb(255, 51, 0);
    color: white;
    box-shadow: 0 5px rgb(236, 22, 7);
}
.menu:active {
    position: relative;
    top: 5px;
    box-shadow: none;
}
h1{  
    color: wheat;
    margin-top: 1PX;
    border: 15px solid transparent;
    padding: 10px;
    border-image-source: url('fundothai.jpeg');
    border-image-slice: 80;
    border-image-repeat: repeat;
    background-color: rgb(145, 27, 27);

}
h2{
    color: wheat;
    margin-top: 1PX;
    border: 15px solid transparent;
    padding: 10px;
    border-image-source: url('fundothai.jpeg');
    border-image-slice: 80;
    border-image-repeat: repeat;
    background-color: rgb(241, 182, 19);
}
.titulo{
   color:#f8f8f8;
   margin: 90px;
   text-align: center;
   font-display:initial;
   font-size: x-large;
}


body{
    height: calc(100vh - 1000px);
    background: no-repeat center/100% url('./gin2.jpeg');
    background-color: rgb(0, 0, 0);
      
}


.conteudo{
    display: table;

}
.imagem{
    display: table-cell;
    float: left;
    margin-top: 10px;
    margin-top: 15px;
    margin-left: 140px;
}
.texto1{
    border-style: double;
    display: table-cell;
    float: left;
    width: 200px;
    margin-top: 150px;
    margin-left: 2px;
    margin-right: 7px;
    font-size: 30px;
    text-align: center;
    text-size-adjust: 20px;
    background-color: black;
    color: #fdf4f4;
}
.bloco2{
    display: table;

}

.texto2{
    margin-left: 160px;
    margin-right: 150px;
    font-family: 'Times New Roman', Times, serif;
    color: #130f0f;
    background-color: rgb(233, 173, 6); 
    font-size: 30px;
    text-align: center;
    text-size-adjust: 500px;
    border-style: double;
    margin-top: 50px;
}  
.salgados{
    margin-top: 90px;
}
.textosal{
    margin-left: 165px;
    margin-right: 150px;
    font-family: 'Times New Roman', Times, serif;
    color: #130f0f;
    background-color: rgb(233, 173, 6); 
    font-size: 30px;
    text-align: center;
    text-size-adjust: 500px;
    border-style: double;
    margin-top: 90px;
}
.imagensal{
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 90px;
    background-color: rgb(238, 160, 15);


    
}
footer{
    margin-top: 1px;
    height: calc(80vh - 250px);
   
    border: 26px solid transparent;
    padding: 10px;
    color: rgb(238, 160, 15);

}

.videofinal{
    height: calc(100vh - 80px);
    background: no-repeat center/400% url('foto3.avif');
    border: 2px solid transparent;
    

}
.caip{
    margin-top: 50px;
}
