/*reset*/
*{
    box-sizing: border-box;
}
header{
    
    margin-top: 1px;
    height: calc(80vh - 10px);
    background: no-repeat center/45% url('logohd.png');
    border: 2px solid transparent;
    padding: 10px;
    color: rgb(238, 160, 15);
    
    
}
.menu{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #130f0f;
    font-size: 14px;
    margin-left: 45px;
    text-transform: uppercase;
    font-weight: 700;
    border:none;
    cursor:pointer;
    padding: 10px;
}
.menu {
    background-color: rgb(255, 230, 0);
    color: rgb(12, 10, 10);
    box-shadow: 0 5px black;
    display:inline-block;

}
.menu:hover {
    background-color: red;
    color: white;
    box-shadow: 0 5px rgb(236, 7, 7);
}
.menu:active {
    position: relative;
    top: 5px;
    box-shadow: none;
}
h1{  
    margin-top: 1PX;
    border: 15px solid transparent;
    padding: 10px;
    border-image-source: url('fundothai.jpeg');
    border-image-slice: 80;
    border-image-repeat: repeat;
    background-color: rgb(145, 27, 27);
    color: wheat;
}
h2{
    color: rgb(15, 13, 13);
    border-radius: 100px;
    margin-top: 1PX;
    border: 15px solid transparent;
    padding: 10px;
    border-image-source: url('fundothai.jpeg');
    border-image-slice: 80;
    border-image-repeat: repeat;
    background-color: rgb(241, 171, 20);
}
.titulo{
   color:#f8f8f8;
   margin: 90px;
   text-align: center;
   font-display:initial;
   font-size: x-large;
}


body{
    height: calc(20vh - 950px);
    background: no-repeat center/100% url('BAR.jpeIg');
    background-color: black;

}


.conteudo{
    display: table;

}
.imagem{
    display: table-cell;
    float: left;
    margin-top: 0px;
    margin-left: auto 1px;
    margin-right: 35px;    
}
.texto1{
    border-style: flex;
    display: table-cell;
    float: left;
    width: 200px;
    margin-top: 0px;
    margin-left: 350px;
    margin-right: 79px;
    font-size: 30px;
    text-align: center;
    text-size-adjust: 20px;
    background-color: black;
    color: #fdf4f4;
}
.bloco2{
    display: table;

}

.texto2{
    margin-left: 165px;
    margin-right: 150px;
    font-family: 'Times New Roman', Times, serif;
    color: #f3e7e7;
    background-color: rgb(0, 0, 0); 
    font-size: 30px;
    text-align: center;
    text-size-adjust: 500px;
    border-style: double;
    margin-top: 50px;
}  
.salgados{
    margin-top: 90px;
}
.textosal{
    margin-left: 165px;
    margin-right: 150px;
    font-family: 'Times New Roman', Times, serif;
    color: #130f0f;
    background-color: rgb(233, 173, 6); 
    font-size: 30px;
    text-align: center;
    text-size-adjust: 500px;
    border-style: double;
    margin-top: 90px;
}
.imagensal{
    margin-left: 20px;
    margin-top: 90px;
}
 

